# --- Бинарные файлы и отчеты сборки ---
Debug/
Debug
Release/
bin/
obj/
*.elf
*.bin
*.hex
*.map
*.list

# --- Локальные настройки IDE (Eclipse/STM32CubeIDE) ---
.settings/
.launches/
.gdbinit
*.launch

# --- Логи и временные файлы ---
*.log
*.bak
*~

# --- Файлы CubeMX (если вы хотите хранить только исходники) ---
# Внимание: обычно файл .ioc лучше оставить в репозитории, 
# так как он нужен для генерации кода.
# Кэш MX:
.mxproject

# --- Прочее ---
# Если используете статические библиотеки
*.a
*.lib